body {
    background-color: Gainsboro	;
  }


  h3{
    text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.buttonPair1 {
  text-align: center;
}

div.buttonPair2 {
  text-align: center;
}

div.playBoth{
  text-align: center;
}

#listImage1{
  float: right;
}

.list-group{
  max-height: 200px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  
  
}

#result_panel{
  margin-top: 50px;
  background-color: Gainsboro	;
}


.list-group .list-group-item {
  background-color:Gainsboro;
  border-top: 1px solid #0275d8;
  border-left-color: #0275d8;
  border-right-color: #0275d8;
  border-bottom: 1px solid #0275d8;
}

.list-group .list-group-item:hover {
  background-color: #0275d8;
}




